{% extends "layout.html" %}
{% block content %}
<div class="content-section">
	<div class="table">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col">
						<h2>Details - {{stock.symbol}}</h2>
					</div>
					{% if inPortfolio %}
						<div class="col-flex text-right">
							<a href="#deleteFromPortfolioModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons align-bottom">&#xE92B;</i> <span>Delete Stock From Portfolio</span></a>
						</div>
					{% else %}
						<div class="col-flex text-right">
							<a href="{{ url_for('addStockToPortfolio', portfolio_id=portfolio_id, defaultNameInput=stock.symbol) }}" class="btn btn-success">
								<i class="material-icons align-bottom">&#xE147;</i>
								<span>Add to Portfolio</span></a>
						</div>
					{% endif %}

					<div class="col-flex text-right">
						<a href="{{ url_for('edit_portfolio', portfolio_id=portfolio_id) }}" class="btn btn-info">Return to Portfolio<br></a>
					</div>

					<div class="col-flex">
						<h2>&nbsp;&nbsp;</h2>
					</div>

				</div>
			</div>
			<table id = "sortableTable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th onclick="sortTable(0)">Measures</th>
						<th onclick="sortTable(1)">Values</th>

					</tr>
				</thead>
				<!-- This section needs to be changed into a loop. It should loop through the Dataframe recieved, and poputlate the table with data -->
				<tbody>
					<tr>
						<td>Symbol</td>
						<td>{{stock.symbol}}</td>
					</tr>
					<tr>
						<td>Most Recent Quarter</td>
						<td>{{stock.most_recent_quarter}}</td>
		            </tr>
					<tr>
						<td>Return On Assets</td>
						<td>{{stock.return_on_assets}}</td>
					</tr>
		            <tr>
						<td>Debt To Equity</td>
						<td>{{stock.total_debt_to_equity}}</td>
		            </tr>
					<tr>
						<td>Operating Cash Flow</td>
						<td>{{stock.operating_cash_flow}}</td>
		            </tr>
					<tr>
						<td>Operating Margin</td>
						<td>{{stock.operating_margin}}</td>
		            </tr>
					<tr>
						<td>Shares Outstanding</td>
						<td>{{stock.shares_outstanding}}</td>
		            </tr>
					<tr>
						<td>Current Ratio</td>
						<td>{{stock.current_ratio}}</td>
		            </tr>
					<tr>
						<td>EBITDA</td>
						<td>{{stock.ebitda}}</td>
		            </tr>
					<tr>
						<td>Quarterly Revenue Growth</td>
						<td>{{stock.quarterly_revenue_growth}}</td>
		            </tr>
					<tr>
						<td>Quarterly Earnings Growth</td>
						<td>{{stock.quarterly_earnings_growth}}</td>
		            </tr>
					<tr>
						<td>Return On Equity</td>
						<td>{{stock.return_on_equity}}</td>
		            </tr>
					<tr>
						<td>Profit Margin</td>
						<td>{{stock.profit_margin}}</td>
		            </tr>
					<tr>
						<td>Diluted EPS</td>
						<td>{{stock.diluted_eps}}</td>
		            </tr>
					<tr>
						<td>Payout Ratio</td>
						<td>{{stock.payout_ratio}}</td>
		            </tr>
					<tr>
						<td>Cash Per Share</td>
						<td>{{stock.total_cash_per_share}}</td>
		            </tr>
					<tr>
						<td>Revenue Per Share</td>
						<td>{{stock.revenue_per_share}}</td>
		            </tr>
				</tbody>
			</table>
			<div style="text-align:center">
				<a href="{{ url_for('edit_portfolio', portfolio_id=portfolio_id) }}" class="btn btn-info">Return to Portfolio<br></a>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteFromPortfolioModal" tabindex="-1" role="dialog" aria-labelledby="deleteFromPortfolioModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="deleteFromPortfolioModal">Are you sure you want to delete this stock from the portfolio?</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<form action="{{ url_for('deleteFromPortfolio', stock_name = stock.symbol, portfolio_id=portfolio_id)}}" method="POST">
		  <input class="btn btn-danger" type="submit" value="Delete">
		</form>
	  </div>
	</div>
  </div>
</div>
{% endblock content %}
