{% extends "layout.html" %}
{% block content %}
<h1>Database Page</h1>
<table class="table" table-striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ticker Symbol</th>
      <th scope="col">Payout Ratio</th>
    </tr>
    </thead>
    <tbody>
        {% for item in results %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ item[0] }}</td>
              <td>{{ item[1] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock content %}
