{% extends "layout.html" %}
{% block content %}
<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-8">
						<h2>{{portfolio.name}}</h2>
					</div>
					<div class="col-sm-2-flex">
						<a href="#deleteEntirePortfolioModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Delete Entire Portfolio</span></a>
					</div>
					<div class="col-sm-2-flex">
						<a href="{{ url_for('addStockToPortfolio', portfolio_id=portfolio.id) }}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New Stock</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Symbol</th>
						<th>return_on_assets</th>
						<th>total_debt_to_equity</th>
						<th>operating_cash_flow</th>
						<th>revenue_per_share</th>
						<th>More Details</th>
					</tr>
				</thead>
				<!-- This section needs to be changed into a loop. It should loop through the Dataframe recieved, and poputlate the table with data -->
				<tbody>
					{% for member in portfolio.member %}
		            <tr>
		              	<th scope="row">{{loop.index}}</th>
						<td><a href="{{ url_for('stockDetails', stock_name=member['symbol'], portfolio_id=portfolio.id) }}">{{member.symbol}}<br></a></td>
						<td>{{member.return_on_assets}}</td>
						<td>{{member.total_debt_to_equity}}</td>
						<td>{{member.operating_cash_flow}}</td>
						<td>{{member.revenue_per_share}}</td>
						<td><a href="{{ url_for('stockDetails', stock_name=member['symbol'], portfolio_id=portfolio.id) }}">Details<br></a></td>
		            </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteEntirePortfolioModal" tabindex="-1" role="dialog" aria-labelledby="deleteEntirePortfolioModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="deleteEntirePortfolioModal">Are you sure you want to delete the entire portfolio?</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<form action="{{ url_for('delete_portfolio', portfolio_id=portfolio.id) }}" method="POST">
		  <input class="btn btn-danger" type="submit" value="Delete">
		</form>
	  </div>
	</div>
  </div>
</div>
{% endblock content %}
