{% extends "layout.html" %}
{% block content %}
<h1>Your Portfolios</h1>
<table class="table" table-striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Portfolio Name</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
        {% for item in results %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td><a href="{{ url_for('edit_portfolio', portfolio_id=item['id']) }}">{{ item['name']}}<br></a></td>
              <td><a href="{{ url_for('edit_portfolio', portfolio_id=item['id']) }}">Details<br></a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{{ url_for('new_portfolio') }}">Click here to add a new Portfolio<br></a>
    <p>Click on a portfolio's name or the details link on the table to edit the portfolio. </p>
{% endblock content %}
